{% extends 'master.html' %}
{% load static %}
{% block content %}
  <section id="new-arrival" class="new-arrival product-carousel position-relative open-up" data-aos="zoom-out">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center my-5 py-lg-5">
        <div class="line-img my-2">
          <img src="{% static 'images/line.png' %}" alt="">
        </div>
        <h4 class="text-uppercase mb-0">All Products</h4>
        <div class="line-img my-2">
          <img src="{% static 'images/line.png' %}" alt="">
        </div>
      </div>
      <div class="swiper product-swiper overflow-hidden">
        <div class="swiper-wrapper d-flex">
            {% for product in products %}
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="">
                  <img src="{% static '../' %}{{ product.image}}" alt="categories" class="product-image img-fluid">
                </a>
                <a href="" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="">{{ product.name }}</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>Ksh. {{ product.price }}</span></a>
                    <br>
                    <a href="/products/delete/{{ product.id }}" CLASS="btn btn-outline-danger">DELETE</a>
                    <a href="/products/update/{{ product.id }}" class="btn btn-outline-info">UPDATE</a>
                    <a href="/products/pay/{{ product.id }}" class="btn btn-outline-success">PAY</a>
                </div>
              </div>
            </div>
          </div>

            {% endfor %}


        </div>
      </div>
      <div class="icon-arrow no-outline icon-arrow-left bg-light"></div>
      <div class="icon-arrow no-outline icon-arrow-right bg-light"></div>
      <div class="text-center mt-5">
        <a href="" class="btn-link">View All Products</a>
      </div>

    </div>
  </section>
{% endblock %}